################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CMakeLists.txt.user
/bin/x64
/build
/.vs
